user.yml
yes
yes.pub
.github
.idea
#######################
# Generated artifacts #
#######################
moran.chars.dict.yaml
zrlf.dict.yaml
opencc/*.ocd2
opencc/moran_chaifen.txt
lua/zrmdb.txt
dist/
dazhu*.txt
moran.mdd
moran.mdx

##############
# Rime stuff #
##############
sync/
/*.txt
!moran_custom_phrases.txt
*.userdb/
*.custom.yaml
installation.yaml
user.yaml

###############
# Development #
###############
.venv/
__pycache__/

###########
# Garbage #
###########
**/.DS_Store
build/
trash/
lua/input_stats.lua
lua/input_stats_moran.lua
